* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #e6e6e6;
    font-family: "Montserrat", sans-serif; /*FONTE IMPORTADA QUE E UTILIZADA EM QUALQUER CANTO DO SITE*/
    font-optical-sizing: auto; /*FONTE IMPORTADA QUE E UTILIZADA EM QUALQUER CANTO DO SITE*/
    font-style: normal; /*FONTE IMPORTADA QUE E UTILIZADA EM QUALQUER CANTO DO SITE*/
    font-weight: 400;
}
/*CONTAINER SEMPRE TEM QUE TER E O PADRÃO JUNTO COM O BODY E O *   */

.container {
    width: 100%; /*TUDO QUE TIVER DENTRO DA CLASSE CONTEINER VAI TER 100% DA TELA*/
    max-width: 1200px; /*SEMPRE POR 1200px E UMA BASE QUE FUNCIONA NA MAIORIA DAS TELAS*/
    margin: 0 auto;
}


/*cabeçalho*/
.header {
    background-color: red;
    padding: 20px 0 0 0; /*padding de 20 pixels para o topo de um elemento, e nenhum padding para o lado direito, inferior ou esquerdo. Ou seja, é equivalente a padding-top: 20px;.*/
    color: white;
    margin-bottom: 30px; /*define uma margem de 30 pixels na parte inferior de um elemento. Isso significa que o espaço entre o elemento atual e o próximo elemento abaixo dele será de 30 pixels.*/
}
/*classe Container que está dentro da classe header*/
.header .container {
    display: flex;  /*A propriedade display: flex no CSS define um contêiner flexível e ativa o Flexbox para seus elementos filhos. Isso facilita a criação de layouts complexos, pois os itens dentro do contêiner flexível podem ser distribuídos e alinhados de várias maneiras.*/
    align-items: center; /*ELE CENTRALIZA O OS ITEMS NA VERTICAL E FIXA NO MEIO */
    flex: 1; /*Em resumo, flex: 1; faz com que o elemento filho expanda para preencher todo o espaço disponível no contêiner flexível.*/
    column-gap: 20px; /*column-gap: 20px; define um espaçamento de 20 pixels entre as colunas dentro desse contêiner grid. Isso cria um espaço uniforme entre as colunas, permitindo um layout mais organizado.*/
}
/*Classe logo que está dentro da classe header*/
.header .logo {
    width: 200px; /*A LARGURA DEFINE DE ACORDO COM A IMAGEM QUE VC COLOCOU*/
    height: auto; /*SEMPRE EM IMAGENS DEIXAR o HEIGTH QUE E A ALTURA AUTOMATICO.*/
}


/*CLASSE MENU*/
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(177, 9, 9);
    /* margin-top: 20px; Isso significa que o espaço entre o elemento atual e o próximo elemento acima dele será de 20 pixels. */
}
/*a Que está dentro da classe menu*/
.menu a {
    display: block;
    padding: 15px;
    white-space: nowrap;/*é usada em CSS para especificar que o texto dentro de um elemento deve ser exibido em uma única linha, sem quebras de linha automáticas. Isso significa que o texto não será quebrado automaticamente para caber dentro do contêiner, mesmo se ultrapassar sua largura. Ele será exibido em uma única linha horizontalmente.*/
    color: white;
    text-decoration: none; /*REMOVE A DECORAÇÃO*/
    font-weight: 700;
}
.menu a:hover{
    background-color: red;
}
/*FIM CLASSE MENU*/

/* CLASSE Dropdown container */
.dropdown {
    font-size: 12px;
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none; /*FAZ COM QUE OCULTE OS PRODUTOS DO DROPDOWN*/
    position: absolute;
    background-color: rgb(177, 9, 9);
    height: auto;
    z-index: 200; /* Ajuste o valor do z-index para que o dropdown fique sobre os outros elementos */
}

.dropdown:hover .dropdown-content {
    display: block; /*AO PASSAR O MOUSE EM CIMA DO DROPDOWN O DROPDOWN-CONTENT EXIBE O DISPLAY BLOCK( AMOSTRA OS PRODUTOS )*/
}


/* CLASSE Dropdown container */
.dropdown2{
    font-size: 12px;
    position: relative;
    display: block;
}

.dropdown-content2 {
    display: none; /*FAZ COM QUE OCULTE OS PRODUTOS DO DROPDOWN*/
    position: absolute;
    background-color: rgb(177, 9, 9);
    z-index: 200; /* Ajuste o valor do z-index para que o dropdown fique sobre os outros elementos */
}

.dropdown2:hover .dropdown-content2 {
    display: block; /*AO PASSAR O MOUSE EM CIMA DO DROPDOWN O DROPDOWN-CONTENT EXIBE O DISPLAY BLOCK( AMOSTRA OS PRODUTOS )*/
    margin-left: 227px;
    top: 0;
}

a.fonte{
    font-size: 15px;
}

/**/

/**/
/*BARRA DE PESQUISA CLASSE SEARCH*/
.search {
    display: flex;
    flex: 1;
    max-width: 800px; /* Define a largura máxima para evitar que o input fique muito largo */
    margin: 0 auto; /* Centraliza o elemento na tela */
}
/*INPUT QUE ESTÁ DENTRO DA CLASSE SEARCH*/
.search input {
    flex: 1;
}

.login {
    display: flex;
    align-items: center;
    gap: 5px; /*ESPAÇAMENTO DE UM ITEM PARA OUTRO*/
    /*é usada em um contêiner com display: grid; ou display: flex; para definir o espaçamento entre os itens filhos. Nesse caso, gap: 5px; define um espaçamento de 5 pixels entre os itens dentro desse contêiner. Isso cria um espaço uniforme entre os itens, permitindo um layout mais organizado.*/
}

/*Botão da pesquisa*/

/*TAG BUTTON DA CLASSE ADD*/
button.add{
    height: 30px;
    padding: 8px 16px; /* Adiciona um espaçamento interno ao botão */
    font-weight: bold;
    background-color: rgb(177, 9, 9); /* Define a cor de fundo do botão */
    color: #fff; /* Define a cor do texto do botão */
    border: none; /* Remove a borda do botão */
    border-top-right-radius:10px ;
    border-bottom-right-radius: 10px;
    cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
}

/*CARROSSEL*/
.owl-dot span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .3);
    margin: 0 10px;
    display: block;
}
.owl-dot.active span {
    background-color: rgba(0, 0, 0, .6);
    width: 16px;
    height: 16px;
}
.owl-dots {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-nav {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.owl-nav button span {
    font-size: 30px;
    
}
.owl-prev{
    margin-left: -30px;
}

.owl-next{
    margin-right: -30px;
}


/*Promoção*/
.promocao {
    margin-top: 30px;
}
.promocao .owl-stage {
    display: flex;
}
.promo{
    height: 100%;
    margin-left: 2px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promo img{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.promo img:hover{
    opacity: 0.8;
    cursor: pointer;
}

.promo h1{
    padding: 5px;
    color: rgb(187, 87, 87);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.promo h4{
    text-align: center;
    color: rgb(187, 87, 87);
    margin: 0;
}

.promo p{
    text-align: center;
    color: rgb(20, 14, 14);
    margin: 30px;
}
/*FIM PROMOÇÃO*/


/*COMPRAR PROMOÇÃO*/
.btn{
    font-size: 15px;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: 0.5s background;
    cursor: pointer;
    width: 100%;

}
.btn:hover{
    transition: 0.5s background;
    background-color: rgb(168, 0, 0);
}
/*FIM COMPRAR PROMOÇÃO*/

.destaque{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.desta{
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desta img{
    width: 100%;
    height: auto;

}

.desta:hover{
    opacity: 0.8;
    cursor: pointer;
}

.footer {
    
    margin-top: 20px;
    background-color: #ff0000;
    color: #fff;
    padding: 20px 0;
    text-align: center; /* Centraliza o conteúdo do footer */
    position: relative; /* Adiciona posição relativa ao footer para posicionamento absoluto dos elementos internos */
}

.footer .container {

    
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer .logo img {
    margin-top: 10px;
    max-height: 150px;
}

.footer .info p {
    margin: 5px 0;
}

.footer .payments img {
    height: 30px;
    margin-right: 10px;
}

.footer .credit {
    margin-top: 20px; /* Adiciona um espaço acima do parágrafo */
    position: absolute; /* Posiciona o parágrafo de forma absoluta */
    bottom: 10px; /* Define a distância do parágrafo em relação ao fundo da página */
    left: 50%; /* Posiciona o parágrafo no centro horizontalmente */
    transform: translateX(-50%); /* Centraliza o parágrafo horizontalmente */
    width: 100%; /* Ocupa toda a largura do footer */
}
.footer .credit a{
   text-decoration: none;
   color: white;
}

.footer .credit a:hover{
    text-decoration: underline;
    color: black;
 }


 .departamentos{
    margin-left: 5%;
    display: flex;
    gap: 20px; /*Distancia entre os itens*/
    flex-wrap: wrap /*A propriedade flex-wrap no CSS é usada para definir se os itens flexíveis em um contêiner flexível devem ser dispostos em uma única linha ou podem quebrar em várias linhas. Quando você define flex-wrap: wrap, os itens dentro do contêiner flexível serão quebrados em várias linhas, se necessário, ao invés de ficarem comprimidos em uma única linha.*/
 }

.depart {
    display: flex;
    padding: 10px; 
    width: 250px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    
}
.depart a{
    text-decoration: none;
    color: black;
}
.depart:hover{
    cursor: pointer;
    border: 1px solid rgb(255, 0, 0);
}

.depart img{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#departamento_title{
    padding-left: 5%;
}

/*FIM PROMOÇÃO*/


/*COMPRAR PROMOÇÃO*/
.btn{
    font-size: 15px;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: 0.5s background;
    cursor: pointer;
    width: 100%;

}
.btn:hover{
    transition: 0.5s background;
    background-color: rgb(168, 0, 0);
}
/*FIM COMPRAR PROMOÇÃO*/



.logo_whats{
    position: fixed;
    z-index: 2;
    right: -4px;
    top: 93%;
}
.produtos {
    display: flex;
}
.produt{
    /* background-color: black; */
    width: 47%;
    height: auto;
}

#img_bacia{
    border: 1px solid black;
    width: 40%;
    margin-left: 200px;
}
#img_bacia:hover{
    opacity: 0.5;
}

.valores{
    padding-top: 5%;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: auto;

    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(86, 92, 105);
    
}

.valores #valor{
    margin: 0;
    font-size: 2rem;
    color: #ff0000;
    margin: 10px 0px 10px 0px ;
}

.bnt_produtos
{
    padding-top: 6%;
    margin-left: 2%;
}
.bnt_buy{
    display: inline;
    background-color: #ff0000;
    height: 3rem;
    border: none;
    border-radius: 0.25rem;
    color: white;
    font-size: 1.125rem;
    font-weight: 700;
    cursor: pointer;
    width: 250px;
    align-items: center;
    justify-content: center;
    
}

.carrinho{
    background-color: #ff0000;
    height: 3rem;
    border: none;
    border-radius: 0.25rem;
    width: 50px;
    cursor: pointer;
    
}

#nome_produtos{
    
    padding-left: 25%;
    color: rgb(72, 76, 83);
}

@media screen and (min-width: 374px) and (max-width: 896px){
    .login{
        position: absolute;
        left: 90%;
        top: 3%;
    }

    .header{
        margin-bottom: 5px;
    }
    .menu{
        display: none;
        padding-bottom: 50px;
    }
}